overleafLogin.json
overleafLogin.*

.vs/*
.vscode/*

~*.docx
~*.doc
~*.tmp
~*.pptx

*.bkp
*.dtmp
img/Signature_AngeloMonti.png
img/Signature_LucaSorace.png
img/Signature_MassimoCallegari.png
demo.mp4
